<!DOCTYPE html>
<html ⚡>
<head>
{{! Document Settings }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{{! Page Meta }}

<title>{{meta_title}}</title>
<meta name="description" content="{{meta_description}}" />
<meta name="HandheldFriendly" content="True" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1.0" />
<meta name="MobileOptimized" content="320">
<meta name="theme-color" content="#2c3e50">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="google-site-verification" content="ERxwvLrqp2lRLHjmDo-9E1LNehbiI3l7FPRTzRn-_oA" />
<link rel="shortcut icon" href="{{asset "favicon.png"}}">

{{! Styles'n'Scripts }}
<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

{{!-- Ghost outputs important style and meta data with this tag --}}
{{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
	<div class="site-wrapper">
		{{! Everything else gets inserted here }}
		{{{body}}}
		<footer class="site-footer clearfix">
			<section class="clearfix footer-widgets">
				<div class="widgets-wrap">
					<div class="widget">
						<h3 class="widget-title">合作网站</h3>
						<ul>
							<li><a href="http://accessibilityunion.org/" target="_blank">信息无障碍产品联盟</a></li>
							<li><a href="http://www.alloyteam.com/" target="_blank">腾讯AlloyTeam</a></li>
							<li><a href="http://w3ctech.com/" rel="colleague" title="Web 标准化交流会">Web 标准化交流会</a></li>
							<li><a href="http://www.whyidc.com/" rel="friend" title="国内优质双线全能空间" target="_blank">WhyIDC 双线全能空间</a></li>
						</ul>
					</div>
					<div class="widget">
						<h3 class="widget-title">友情链接</h3>
						<ul class="blogroll">
							<li><a href="https://www.swiftnote.io/" rel="co-worker" title="Swift 开发技术博客" target="_blank">Swift Note</a></li>
							<li><a href="http://gaowhen.com/" rel="friend co-worker" title="高温的博客" target="_blank">GaoWhen高H温</a></li>
							<li><a href="http://ivane.me/" rel="friend" target="_blank">黄老湿</a></li>
							<li><a href="http://www.99css.com/" target="_blank">99CSS</a></li>
							<li><a href="http://ooxx.me" rel="friend">大猫の意淫网志</a></li>
							<li><a href="http://ofcss.com/" rel="friend" title="小李刀刀（kairee）的技术博客" target="_blank">裁纸刀下</a></li>
							<li><a href="http://www.topcss.org/" rel="friend" title="关注信息无障碍" target="_blank">进步博客</a></li>
							<li><a href="http://www.benben.cc/" target="_blank">笨笨剥壳</a></li>
							<li><a href="http://www.smallni.com" rel="friend">Smallni's blog</a></li>
							<li><a href="http://www.misuisui.com/" target="_blank">米随随s5s5</a></li>
							<li><a href="http://xio.ng" rel="friend">熊宝</a></li>
							<li><a href="http://blog.wpjam.com/" rel="friend">我爱水煮鱼</a></li>
							<li><a href="http://www.osmn00.com" title="堂主，WEB前端开发技术" target="_blank">堂主</a></li>
							<li><a href="http://www.mangguo.org" rel="friend">芒果</a></li>
							<li><a href="http://www.itstrike.cn/" target="_blank">软件开发网</a></li>
							<li><a href="http://jiawin.com/" title="觉唯前端" target="_blank">觉唯前端</a></li>
							<li><a href="http://www.sz-qibang.com/" target="_blank">深圳网站建设公司</a></li>
							<li><a href="http://www.jser.com/">JSER</a></li>
							<li><a href="http://csshouse.net/" rel="friend" target="_blank">CSS HOUSE</a></li>
							<li><a href="http://rlog.cn/" title="robin 肉饼">Time Machine</a></li>
							<li><a href="http://www.whycss.com/" target="_blank">前端网址导航</a></li>
							<li><a href="http://www.ux265.net/" target="_blank">前端博客导航</a></li>
							<li><a href="http://www.css88.com/" rel="friend" title="专注前端开发，关注用户体验" target="_blank">WEB前端开发</a></li>
							<li><a href="http://suta.im/" target="_blank">suta</a></li>
						</ul>
					</div>
					<div class="widget">
						<h3 class="widget-title">关注前端观察官方微信</h3>
						<div class="widget-box">
							<div class="footer-qrcode"><img src="//www.qianduan.net/img/give-me-five/qianduan_wechat.jpg" alt="前端观察官方微信二维码"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="copyright">
				<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; 2008-{{date format="YYYY"}} All rights reserved.<br />
				Powered by <a href="https://www.linode.com/?r=d5156fa674d41bf96fbace51c9fade505f6fd852">Linode</a>
			</section>
		</footer>
	</div>
{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}
{{! The main JavaScript file for Next theme }}
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?73df675d39af5853c92ed204ddecac34";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>
