{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
{{navigation}}
	<div class="main-header-content">
		<h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{!-- <h2 class="page-description">{{@blog.description}}</h2> --}}
	</div>
</header>
<div class="main-content">
<main class="content" role="main">
    <article class="{{post_class}}">
        <h1 class="post-title">{{title}}</h1>
        <section class="post-content">
            {{content}}
        </section>

    </article>
</main>{{> aside}}
</div>
{{/post}}
