{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav clearfix">
		<div class="inner">
            {{navigation}}
            <form id="search" onsubmit="return search()">
                <input id="search-field" type="text" placeholder="search">
                <button type="submit">search</button>
            </form>
			<a href="{{@blog.url}}/rss/">Subscribe</a>
		</div>
	</nav>
	<div class="main-header-content">
		<h1 class="page-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{!-- <h2 class="page-description">{{@blog.description}}</h2> --}}
	</div>
</header>
<div class="main-content">
<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
            <div class="give-me-five"><a href="http://100offer.com/join/cha?utm_source=qianduan.net&amp;utm_medium=dis&amp;utm_campaign=cha"><img src="http://feimg.qiniudn.com/1002015l.jpg" alt=""></a></div>
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

        {{/author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>
    <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'iqd';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</main><aside class="sidebar">
{{!-- for sidebar --}}
	<div class="give-me-five">
		<a href="http://100offer.com/join/cha?utm_source=qianduan.net&utm_medium=dis&utm_campaign=cha" target="_blank"><img src="http://feimg.qiniudn.com/1002015r.jpg" alt=""></a>
	</div>
    <div class="widget">
        <h3 class="widget-title">热门文章</h3>
        <div class="widget-box">
            <ul>
                <li><a href="http://www.qianduan.net/css-to-achieve-the-vertical-center-of-the-five-kinds-of-methods/" title="CSS实现垂直居中的5种方法" target="_blank">CSS实现垂直居中的5种方法</a></li>
                <li><a href="http://www.qianduan.net/zen-coding-a-new-way-to-write-html-code/" title="Zen Coding: 一种快速编写HTML/CSS代码的方法" target="_blank">Zen Coding: 一种快速编写HTML/CSS代码的方法</a></li>
                <li><a href="http://www.qianduan.net/50-amazing-admin-management-templates/" title="50个高端大气上档次的管理后台界面模板" target="_blank">50个高端大气上档次的管理后台界面模板</a></li>
                <li><a href="http://www.qianduan.net/essential-to-sublime-the-text-2-plugins/" title="一些必不可少的Sublime Text 2插件" target="_blank">一些必不可少的Sublime Text 2插件</a></li>
                <li><a href="http://www.qianduan.net/high-performance-css3-animations/" title="高性能 CSS3 动画" target="_blank">高性能 CSS3 动画</a></li>
                <li><a href="http://www.qianduan.net/task-master-gulp-lint/" title="[Task Master] gulp-lint" target="_blank">[Task Master] gulp-lint</a></li>
                <li><a href="http://www.qianduan.net/qianduan-redesign/" title="前端观察又改版" target="_blank">前端观察又改版</a></li>
                <li><a href="http://www.qianduan.net/meta-tags-list/" title="meta标签常用属性整理" target="_blank">meta标签常用属性整理</a></li>
                <li><a href="http://www.qianduan.net/html5-differences-in-the-div-section-article/" title="HTML5 中 div section article 的区别" target="_blank">HTML5 中 div section article 的区别</a></li>
                <li><a href="http://www.qianduan.net/pseudo-elements/" title="利用伪元素仿苹果手机官网导航" target="_blank">利用伪元素仿苹果手机官网导航</a></li>
            </ul>
        </div>
    </div>
</aside>
</div>
{{/post}}
