{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}
<header class="main-header tag-head {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    	<nav class="main-nav clearfix">
		<div class="inner">
            <form id="search" onsubmit="return search()">
                <input id="search-field" type="text" placeholder="search">
                <button type="submit">search</button>
            </form>
			<a href="{{@blog.url}}/rss/">Subscribe</a>
		</div>
	</nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{tag.name}}</h1>
            <h2 class="page-description">
                {{#if tag.description}}
                    {{tag.description}}
                {{else}}
                    {{pagination.total}}-post collection
                {{/if}}
            </h2>
        </div>
    </div>
    {{navigation}}
</header>
<div class="main-content">
{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main><aside class="sidebar">
{{!-- for sidebar --}}
	<div class="give-me-five">
		<img src="http://feimg.qiniudn.com/1002015r.jpg" alt="">
	</div>
	<div class="widget">
		<h3 class="widget-title">Hot Tags</h3>
		<div class="widget-box">
			{{tags}}
		</div>
	</div>
</aside>
</div>
